# YOUR MASTER PROXY URL (e.g. https://opendesk-auth.vercel.app)
# For local testing, use http://localhost:8000
PROXY_URL=http://localhost:8000

# SPOTIFY
SPOTIFY_CLIENT_ID=your_spotify_client_id
SPOTIFY_CLIENT_SECRET=your_spotify_client_secret

# GITHUB
GITHUB_CLIENT_ID=your_master_github_id
GITHUB_CLIENT_SECRET=your_master_github_secret

# NOTION
NOTION_CLIENT_ID=
NOTION_CLIENT_SECRET=

# GOOGLE / GMAIL
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=

# SLACK
SLACK_CLIENT_ID=
SLACK_CLIENT_SECRET=
